#### ESSENTIAL LIBRARIES FOR MAIN FUNCTIONALITY ####

# Neural network and related libraries
tensorflow==1.0.1
numpy

# Progress logger
tqdm

# Adds an @overrides decorator for better documentation and error checking when using subclasses.
overrides

# NLP tools
nltk

# Argument parsing / config
argparse

#### TESTING-RELATED PACKAGES ####
# Unit tests
pytest

# Let's pytest find our code
pytest-pythonpath

# Code style linting
flake8

# coverage reports
coverage
codecov
pytest-cov
